<nav>
  <ul>
    <li><strong>Simple Auth App</strong></li>
  </ul>
  <ul>
    <li><%= link_to "Sign up", sign_up_path %></li>
    <li><%= link_to "Sign in", "#" %></li> <!-- Update this later when the sign-in route is ready -->
  </ul>
</nav>

<h1>Homepage</h1>

